body{
  content: "";
  background-image: url(./Img/output-onlinepngtools.png); 
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-attachment: fixed
}


nav {
  background-color: transparent;
}

nav a {
  display: inline-block;
  margin: 1rem;
  padding: 0.25rem;
  text-decoration: none;
  font-size: 1.2em;
  color: firebrick;
  border-bottom: 2px solid firebrick;
  transition: 0.1s;
}

nav a:hover,
nav a:active {
  color: tomato;
  border-bottom: 2px solid tomato;
}

nav a.active {
  color: white;
  background: tomato;
}

h1{
  font-family: sans-serif;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;    
  position: relative;
  margin: auto;
  font-size: 15px;
  
  scroll-behavior: auto;    
}

td, th {
border: 1px solid #dddddd;
width: fit-content;
text-align: left;
padding: 8px;
}

tr:nth-child(even) {
  background-color: rgba(221, 221, 221, 0.7)
}
tr:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.7)
}

.grid-container {
  font-family: arial, sans-serif;
  display: grid;
  grid-template-columns: 75% 25%;
  gap: 5px;
  padding: 1px;
}


.flabel{
  width: 100px;
}

/* .tableDiv{
  max-height: 500px;
  overflow-y: scroll;
} */

.grid-container > div {
border: 2px solid lightgrey;
text-align: left;
padding: 10px;
font-size: 15px;
}

#tableDiv {
  max-height: 800px;
  overflow-y: scroll;

}

.Base
{
  position: relative;
  text-align: center;
}

.ptGender{
  width: 75px;
}
.ptID{
  width: 40px;
}
.ptDOB{
  width: 100px;
}
.ptBP{
  width: 100px;
}
.names{
  width: 150px
}
.ptOccupation{
  width: 200px;
  overflow-wrap: break-word;
}
.ptCondition{
  max-width: 500px;
  overflow-wrap: break-word;
}


.fieldName
{
  text-align: right;
  width: 200px;
}

.data
{
  text-align: left;
}

#systol, #diastol {
  width: 50px;
}

#condition{
  width: 300px;
  height: 200px;
}

#idDisplay{
  color: blue;
}